<div class="container">
  <h1>Welcome to our App!</h1>
  <p>Enter twitter name !</p>

<form action = "/"  method = "Post">

    @<input type= "text" name = "TwitterName" placeholder = "eg. mytwittername"> </input>
    <input type = "submit" value = "Find Tweets"> </input>
 </form>

</div>
